/* ==========================================================================
   Table of Contents
   ========================================================================== */

/*

    0.  Includes
    1.  Icons
    2.  General
    3.  Utilities
    4.  General
    5.  Single Post
    6.  Third Party Elements
    7.  Pagination
    8.  Footer
    9.  Media Queries (Tablet)
    10. Media Queries (Mobile)

 */

/* ==========================================================================
   0. Includes - Ground zero
   ========================================================================== */

@import url(normalize.css);



/* ==========================================================================
   1. Basic Layout
   ========================================================================== */

sidebar{
    width: 400px;
    height: 100%;
    position: fixed;
    float: left;
}

main{
    width: calc(100% - 400px);
    float: right;
}
